<?xml version="1.0" encoding="UTF-8"?>


<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.digitalmktgrp.yourcircleapp"
        version   = "1.0.0">

    <name>test</name>

    <description>
        The n's Circle App
    </description>

    <author href="http://digitalmktgrp.com" email="info@digitalmktgrp.com">
        Digital Marketing Group
    </author>

    <preference name="permissions"                value="none"/>

    
    <preference name="phonegap-version"           value="3.3.0" />          
    <preference name="orientation"                value="default" />       
    <preference name="target-device"              value="universal" />      
    <preference name="fullscreen"                 value="true" />           
    <preference name="prerendered-icon"           value="true" />           
    <preference name="ios-statusbarstyle"         value="black-opaque" />   
    <preference name="detect-data-types"          value="true" />           
    <preference name="exit-on-suspend"            value="false" />          
    <preference name="auto-hide-splash-screen"    value="true" />           
    <preference name="disable-cursor"             value="false" />         
    <preference name="android-minSdkVersion"      value="7" />              
    <preference name="android-installLocation"    value="auto" />           

    <!-- Custom -->
    <preference name="StatusBarOverlaysWebView" value="false" />
    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>



    <!-- Plugins -->

    <!-- Core plugins -->
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <gap:plugin name="org.apache.cordova.file" />
    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" />
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
    <gap:plugin name="com.phonegap.plugin.statusbar" />


    
    <icon src="icon.png" />
    <icon src="icon.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="icon.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="icon.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="icon.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="icon.png"     gap:platform="blackberry" />
    <icon src="icon.png"     gap:platform="blackberry" gap:state="hover"/>
    <icon src="icon.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="icon.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="icon.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="icon.png"         gap:platform="ios"        width="144" height="144" />
    <icon src="icon.png"          gap:platform="webos" />
    <icon src="icon.png"  gap:platform="winphone" />
    <icon src="icon.png" gap:platform="winphone"   gap:role="background" />
    

    
    <gap:splash src="icon.png"       gap:platform="android" gap:density="ldpi" />
    <gap:splash src="icon.png"       gap:platform="android" gap:density="mdpi" />
    <gap:splash src="icon.png"       gap:platform="android" gap:density="hdpi" />
    <gap:splash src="icon.png"      gap:platform="android" gap:density="xhdpi" />
    <gap:splash src="icon.png"              gap:platform="blackberry" />
    <gap:splash src="icon.png"         gap:platform="ios"     width="320" height="480" />
    <gap:splash src="icon.png"      gap:platform="ios"     width="640" height="960" />
    <gap:splash src="icon.png" gap:platform="ios"     width="640" height="1136" />
    <gap:splash src="icon.png"           gap:platform="ios"     width="768" height="1024" />
    <gap:splash src="icon.png"          gap:platform="ios"     width="1024" height="768" />
    <gap:splash src="icon.png"      gap:platform="winphone" />




    
    <access origin="*"/> <!-- allow local pages -->
 

</widget>
